{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {#{{ form_start(form) }}#}
            {#{{ form_widget(form) }}#}
            <div class="form-group">
                <label class="col-sm-2 control-label required" for="">Default Image</label>
                <div class="col-sm-10">
                    <div class="dropzone"></div>
                </div>
            </div>
            <div class="col-xs-4 pull-right">
                <input type="submit" class="btn btn-block btn-primary" value="Add" />
            </div>
            {#{{ form_end(form) }}#}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // init,configure dropzone
        Dropzone.autoDiscover = false;
        var dropzone_default = new Dropzone(".dropzone", {
            url: '{{ path('fileuploadhandler') }}' ,
            maxFiles: 1,
            dictMaxFilesExceeded: 'Only 1 Image can be uploaded',
            acceptedFiles: 'image/*',
            maxFilesize: 3,  // in Mb
            addRemoveLinks: true,
            init: function () {
                this.on("maxfilesexceeded", function(file) {
                    this.removeFile(file);
                });
                this.on("sending", function(file, xhr, formData) {
                    // send additional data with the file as POST data.
                    formData.append("key", "value");
                });
                this.on("removedfile", function(file) {
                    var ResourceId = $('.resource_ID').val();

                    // Delete file from server
                    $.ajax({
                        type: 'POST',
                        url: '',
                        data: {
                            id: ResourceId,
                        },
                        dataType: 'json'
                    }).done(function (resp) {
                    }).fail(function(resp) {
                        console.error('xhr failed', resp);
                        return false;
                    });
                });
            }
        });
    </script>
{% endblock %}
